:root {
  --width: 200px;
}

body {
  min-width: var(--width);
  max-width: 100%;
  min-height: 300px;
  max-height: 100%;
  padding: 0 20px;
}

* {
  box-sizing: border-box;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: var(--width);
  text-align: center;
}

#title {
  margin: 5px auto;
  font-size: large;
}

#link {
  margin: 10px auto;
}

#btn {
  background: #ff5964;
  color: #fff;
  margin: 0 auto;
  font-size: 20px;
  font-family: inherit;
  padding: 5px 22px;
  outline: none;
  overflow: hidden;
  border: none;
  border-radius: 100px;
  transition: all .3s cubic-bezier(.02, .01, .47, 1);
}

#btn:hover {
  background: #fd2e3c;
}